.wrapper{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    animation:  Shadow 0.5s 1;
}
@keyframes Shadow {
    from{
        background-color: rgba(255, 255, 255, 0);
    }
    to{
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.modal{
    width: 400px;
    height: 400px;
    max-width: 100%;
    background-color: #ffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(209, 209, 209, 0.5);
    animation: Appear 0.5s 1;
}
@keyframes Appear {
    from{
        width: 0px;
        height: 0px;    
        opacity: 0;
    }
    to{
        width: 400px;
        height: 400px;    
        opacity: 1;
    }
}
.modal button{
    font-size: 1.2rem;
    border: 1px solid rgba(209, 209, 209, 0.5);
    border-radius: 10px;
    cursor: pointer;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(209, 209, 209, 0.5);
}
.header h2{
    flex-grow: 1;
}
.header button{
    padding: 5px 10px;
}
.content{
    flex-grow: 1;
    overflow: auto;
}   
.footer{
    text-align: end;
    padding: 10px 20px;
}
.footer button{
    margin-left: 10px;
    padding: 5px 10px;
}