.container{
    position: relative;
}
.form-container{
    width: 400px;
    max-width: 90%;
    margin: auto;
    padding-top: 30px;
}
.form-container h1{
    text-align: center;
}

.form-container p{
    margin-top: 10px;
}