.container{
    display: inline-block;
    position: relative;
    width: fit-content;
    vertical-align: middle;
}
.password{
    display: inline-flex;
    border: 1px solid rgba(0, 0, 0, 0.5);
    align-items: baseline;
    border-radius: 3px;
}
.input{
    display: block;
    border: 0;
    height: 100%;
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
}
.input:focus{
    outline: 0;
}
.icon{
    display: block;
    height: 100%;
    font-size: 1rem;
    padding: 0.2rem 0.1rem;
}
.icon i{
    display: block;
    height: 100%;
}
