* {
  box-sizing: border-box;
}
#slider {
  max-width: 800px;
  height: 40vh;
  overflow: hidden;
  margin: auto;
}

#slider .carousel-inner {
  height: 100%;
}

#slider .carousel-item {
  height: inherit;
}

#slider img {
  width: 100%;
  height: inherit;
  object-fit: fill;
}

#products {
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}

#products .card .order {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
#products .card .order-input {
  display: inline-flex;
  align-items: stretch;
  max-width: 50%;
}
#products .card .order-input .order-add {
  border: 1px solid #ced4da;
  border-left: none;
  flex: 1;
}
#products .card .order-input .order-minus {
  border: 1px solid #ced4da;
  border-right: none;
  flex: 1;
}
#products .card .order-input i {
  color: rgb(39, 39, 178);
  font-weight: bolder;
}
#products .card .order-input .order-number {
  flex: 1;
  text-align: center;
  border: 1px solid #ced4da;
  border-left: none;
  border-right: none;
}
#products .ratting {
  background-color: #f3f3f3;
  border-top: 1px solid #ced4da;
  font-size: smaller;
}


