#slider {
  max-width: 800px;
  height: 40vh;
  overflow: hidden;
  margin: auto;
}

#slider .carousel-inner {
  height: 100%;
}

#slider .carousel-item {
  height: inherit;
}

#slider img {
  width: 100%;
  height: inherit;
  object-fit: fill;
}

#products {
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}

#products .card .order {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
#products .card .order-input {
  display: inline-flex;
  align-items: center;
  max-width: 50%;
}
#products .card .order-input .
#products .card .order-input .order-number {
  display: inline;
  margin: 0;
  padding: 0 15px;
  line-height: 100%;
  vertical-align: middle;
}
