* {
  box-sizing: border-box;
}

#slider {
  max-width: 800px;
  height: 40vh;
  overflow: hidden;
  margin: auto;
}

#slider .carousel-inner {
  height: 100%;
}

#slider .carousel-item {
  height: inherit;
}

#slider img {
  width: 100%;
  height: inherit;
  object-fit: fill;
}

#products {
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  row-gap: 5%;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

#products .card {
  flex-basis: 30%;
  margin-bottom: 20px;
}

#products .card .order {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
#products .card .order-input {
  display: inline-flex;
  align-items: stretch;
  width: 50%;
  flex-wrap: nowrap;
}
#products .card .order-input .order-add {
  border: 1px solid #ced4da;
  border-left: none;
  flex: 1;
}
#products .card .order-input .order-minus {
  border: 1px solid #ced4da;
  border-right: none;
  flex: 1;
}
#products .card .order-input i {
  color: rgb(39, 39, 178);
  font-weight: bolder;
}
#products .card .order-input .order-number {
  flex: 1;
  text-align: center;
  border: 1px solid #ced4da;
  border-left: none;
  border-right: none;
}
#products .ratting {
  background-color: #f3f3f3;
  border-top: 1px solid #ced4da;
  font-size: smaller;
}

#notify {
  visibility: hidden;
  position: fixed;
  top: 10px;
  left: 50%;
  transition: 0.5s;
}
#notify h6 {
  padding: 10px;
  background-color: #19e932;
  opacity: 0.9;
  border-radius: 5px;
  color: white;
  margin: 0;
  position: relative;
  left: -50%;
}
