.todo-item{
    width: 100%;
    display: flex;
    align-items: center;
    gap:5px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.todo-task{
    flex-grow: 1;
}

.edit-todo{
    display: flex;
    gap: 5px;
}