.normal{
    text-decoration: none;
    display: inline-block;
    color: inherit;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    width: 100%;
}
.normal::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}
.active-item{
    background-color: #0080ff;
    color: #fff;
}